$default: #000;
$bgdefault: #4f4f4f;
$title: #504444;
$accent: grey;
$hover: grey;
$disable: #E8E8E8;

%montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%montserrat-500 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%montserrat-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}

%impact-900 {
  font-family: 'Impact', sans-serif;
  font-weight: 900;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
