.list {
  $self: &;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.5);
      // .list__remove-icon {
      //   opacity: 1;
      //   transition: opacity 0.3s
      // }
      //тожесамое ниже через переменную
      #{$self}__remove-icon {
        opacity: 0.4;
        transition: opacity 0.3s;
      }
      transition: background-color 0.3s;
    }

    &.active {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }  

    .badge {
      position: relative;
      left: 5px;
    }

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 130px;
      white-space: nowrap;
    }

    
    #{$self}__remove-icon {
      opacity: 0;

      &:hover {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }

.items {
  &__add-button {
    span, svg {
      opacity: 0.4;
    }

    &:hover {
      span, svg {
        opacity: 1;
      }
    }
  }
}


.menu {
  &__list:first-child {
    margin-bottom: 30px;
  }
}

  .menu__list-title {
    font-size: 14px;
    color: #000;

    & i {
      display: inline-flex;
      margin-right: 8px;
    }
  }