.todo {
  height: 100vh;
  &__inner {
   height: 100%;
  }

  &__sidebar {
    min-height: 100vh;
    width: calc(25%);
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E5E5E5;
  }

  &__tasks {
    min-height: 100vh;
    padding-left: 55px;
    padding-right: 55px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #64C4ED;
  }
}
